<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Facebook</title>
  <style>
    .Parent {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            margin-bottom: 10px;
            padding-left: 10px;
        }
  
        .child1 {
            width: 55%;
            height: auto;
        }
  
        .child2 {
            width: 40%;
            height: auto;
            position: relative;
        }

  </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
  <div style=" min-height: 100px;
  height: 80vh;
  padding: 20px;
  width:90%;
  margin-left:auto;
  margin-right:auto;">